<template>
  <AddNewEvent @create="n => $emit('create', n)"/>
</template>

<script>
import AddNewEvent from '@/components/AddNewEvent'

export default {
  components: {
    AddNewEvent,
  }
}
</script>
