<template>
  <span>
    <loading v-if="loading" />
    <EventItem
      v-if="event"
      :event="event"
      class="single-selection"
    />
  </span>
</template>

<script>
import EventItem from '@/components/EventItem'
import {readEvent} from '@/common/api.js'

export default {
  components:{
    EventItem,
  },
  data() {
    return {
      event: null,
      loading: false,
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      try {
        this.event = await readEvent(this.$route.params.id)
      } catch (error) {
        this.$toasted.show(`Error retreiving event details. (${error.toString()})`)
      }
      this.loading = false

    }
  },
}
</script>

<style lang="stylus">

.single-selection .image
  height 300px !important

.single-selection.event-item
  max-width 800px
  margin-left auto
  margin-right auto

</style>
