<template>
  <div>
    <v-layout row wrap class="event-list">
      <v-flex
        v-for="event in eventsFiltered"
        :key="event.id"
        xs12 sm12 md6 lg4 xl3
      >
        <router-link
          class="event-link"
          :to="`/event/${event.id}`"
        >
          <EventItem
            :event="event"
            class="event-item-outer ma-1"
            :class="{selected: event.title === selection}"
          />
        </router-link>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import EventItem from '@/components/EventItem'

export default {
  name: 'App',
  components: {
    EventItem,
  },
  props: {
    events: Array,
  },
  computed: {
    eventsFiltered() {
      const now = new Date().toISOString()
      const fn = e => e.start && e.start < now
      return this.events?.filter(e =>
        this.$route.name === "PastView" ? fn(e) : !fn(e)
      )
    }
  },
  data: () => ({
    selection: null,
  }),
  methods: {
    addNewEvent(newEvent) {
      this.events.push(newEvent)
    }
  },
}
</script>

<style lang="stylus" scoped>

.app-title
  width 100px

.add-new
  width 300px

.event-link
  &, &:hover
    text-decoration none

.event-item-outer
  transition 1s all
  height 300px
  overflow hidden

  &.selected
    position fixed
    top 10%
    left 10%
    right 10%
    z-index 1001
    height initial

    .image
      max-height 300px

</style>

<style lang="stylus">

ellipsis()
  text-overflow ellipsis
  white-space nowrap
  display inline-block
  overflow hidden

.event-list .event-item
  .title
    ellipsis()
    width 100%

  .small-detail
    &.location
      ellipsis()
      max-width 100px
      vertical-align top

    .bull
      display inline
      opacity 1
      margin 0 5px

    .small-detail-content
      margin-right 10px
      margin-right 0

    &.full-date-time
      display none

</style>
