<template>
  <div>
    <v-card
      class="add-new pa-5 ma-1 mx-auto"
    >

      <v-form
        v-model="newValid"
        ref="form"
        @submit.prevent="submit"
      >
        <v-text-field
          required
          :rules="nameRules"
          label="Event name *"
          v-model="newEvent.title"
          prepend-icon="mdi-format-title"
        />
        <LocationPicker v-model="newEvent.location"/>
        <WeatherPicker  v-model="newEvent"/>
        <DatePicker     v-model="newEvent.start"/>
        <v-textarea
          class="my-4"
          v-model="newEvent.description"
          label="Description"
          dense
          prepend-icon="mdi-comment"
          auto-grow
          rows="1"
          clearable
        >

        </v-textarea>
        <v-card-actions>
          <span class="grey--text">
            * Required fields are marked with asterisks.
          </span>
          <v-spacer></v-spacer>
          <v-btn
            type="submit"
            value="add event"
            :disabled="!newValid"
            :title="newValid ? 'asd' : 'asdsadd'"
          >
            Create event
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import DatePicker from '@/components/DatePicker'
import LocationPicker from '@/components/LocationPicker'
import WeatherPicker from '@/components/WeatherPicker'

export default {
  name: 'AddNewEvent',

  components: {
    DatePicker,
    LocationPicker,
    WeatherPicker,
  },
  watch: {
    location() {
      Object.assign(this.newEvent, this.location, {})
    }
  },
  data: () => ({
    newEvent: {},
    newValid: true,
    location: null,
    nameRules: [
      v => !!v || 'Name is required',
    ],
  }),
  methods: {
    submit() {
      this.$emit('create', {...this.newEvent})
      this.$refs.form.reset()
      this.newEvent = {}
    }
  },
}
</script>

<style lang="stylus" scoped>

.add-new
  max-width 800px

</style>
