<template>
  <v-menu
    v-model="showPicker"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="date"
        label="Date"
        clearable
        prepend-icon="mdi-calendar-start"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      @input="showPicker = false"
      :min="minDate"
    ></v-date-picker>
  </v-menu>
</template>

<script>
export default {
  props: {
    value: String,
  },
  data() {
    const today = new Date()
    let tomorrow = new Date(today)
    tomorrow.setDate(tomorrow.getDate() + 1)

    return {
      date: this.value,
      minDate: tomorrow.toISOString().substr(0, 10),
      showPicker: false,
    }
  },
  watch: {
    value(val) {
      this.date = val
    },
    date() {
      this.$emit('input', this.date)
    },
  }
}
</script>
