<template>
  <v-card
    class="event-item"
  >
    <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img
      class="image"
      :src="image"
    />

    <v-card-title class="m-0 title">
      {{event.title}}
    </v-card-title>

    <v-card-text>
      <div class="grey--text my-3 mt-n3 small-details">
        <span class="small-detail location" v-if="event.location">
          <span class="bull"> &bull; </span>
          <span class="small-detail-content">
            {{event.location.name}}{{event.location.country ? `, ${event.location.country}` : ''}}
          </span>
        </span>
        <span
          class="small-detail"
          v-if="event.start"
        >
          <span class="bull"> &bull; </span>
          <timeago
            class="small-detail-content"
            :datetime="event.start"
            :title="new Date(event.start).toLocaleString({timeZoneName:'short'})"
          />
        </span>
        <span
          class="small-detail full-date-time"
          v-if="event.start"
        >
          <span class="bull"> &bull; </span>
          <span class="small-detail-content">
            {{ new Date(event.start).toLocaleString({timeZoneName:'short'}) }}
          </span>
        </span>
        <span class="small-detail" v-if="event.weather">
          <span class="bull"> &bull; </span>
          <Temp class="small-detail-content" :day="event.weather"/>
        </span>
      </div>
      <div class="my-1 description">
        {{event.description}}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import Temp from '@/components/Temp'

export default {
  components: {
    Temp,
  },
  props: {
    event: Object,
  },
  methods: {
    weatherIconUrl(day) {
      return `${location.protocol}//openweathermap.org/img/wn/${day.icon}@2x.png`
    },

  },
  data() {
    const image = `http://placeimg.com/1024/768/arch?key=${this.event.id}`
    return {
      image,
    }
  },
}
</script>

<style lang="stylus" scoped>

.small-details

  .small-detail
    .bull
      opacity 0
      margin 0 10px
      display inline-block
      display none

    .small-detail-content
      white-space nowrap
      margin-right 50px

    &:first-child .bull
      display none

.image
  width 100%
  height 110px

.title
  word-break break-word

.description
  white-space pre-line

.event-item:after
  content   ""
  position  absolute
  z-index   1
  bottom    0
  left      0
  pointer-events    none
  background-image  linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 0.98) 100%)
  width     100%
  height    1.3em

</style>

<style lang="stylus">

.small-detail .weather-image
  width 20px
  height 20px
  vertical-align top
  background-color hsl(210deg 79% 56%)

</style>
