<template>
  <div>
    <v-autocomplete
      label="City, town, or custom location"
      :loading="loading"
      hide-no-data
      no-filter
      clearable
      :items="items"
      v-model="selection"
      :messages="selectionStr(selection)"
      :search-input.sync="search"
      prepend-icon="mdi-map-marker"
    />
  </div>
</template>

<script>
import {geoApi} from '@/common/api.js'
export default {
  data() {
    return {
      selection: this.value,
      loading: false,
      items: [],
      search: '',
    }
  },
  props: {
    value: Object,
  },
  watch: {
    search(val) {
      if (val) {
        this.fetchOptions(val)
      }
    },
    selection(val) {
      this.$emit('input', val)
    },
    value(val) {
      this.selection = val
    },
  },
  methods: {
    selectionStr: s => s
      ? (!s?.custom
        ? `(Latitude and longitude: ${s.lat}, ${s.lon})`
        : `Weather data isn't available for custom locations.`
        )
      : null,
    async fetchOptions () {
      this.loading = true
      const cleanedSearch = this.search?.replace(/^Custom: /, '')
      if (cleanedSearch?.length >= 3) {
        try {
          this.items = (await geoApi(cleanedSearch)).map(a => {
            delete a.local_names
            return {value: a, text: `${a.name}, ${a.country}`}
          })
        } catch (error) {
          this.$toasted.show(`Error looking up geo data for location: "${cleanedSearch}".  (${error.toString()})`)
          this.items = []
        }
      } else {
        this.items = []
      }
      this.items.push({
        text: `Custom: ${cleanedSearch}`,
        value: {name:cleanedSearch, custom:true},
      })
      this.loading = false
    },
  },
}
</script>
