<template>
  <span>
    <span class="weather-image-container">
      <img :src="weatherIconUrl(day)" :alt="day.main" :title="day.main"
        class="weather-image xma-n1 xmb-n4 mb-n1"
      />
    </span>
    {{Math.round(day.temp.min)}}
    <span class="grey--text">
      /
    </span>
    {{Math.round(day.temp.max)}} &deg;C
  </span>
</template>

<script>
export default {
  props: {
    day: Object,
  },
  methods: {
    weatherIconUrl(day) {
      return `${location.protocol}//openweathermap.org/img/wn/${day.icon}@2x.png`
    },
  },
}
</script>

<style lang="stylus" scoped>

.weather-image
  display inline-block
  width 50px
  height 50px
  background-color hsl(210deg 79% 86%)
  border-radius 999px

</style>
