<template>
  <div>
    <div
      v-if="loc && loc.lat && loc.lon"
      class="weather-container"
      :class="{'any-selection':value.start}"
    >
      <table class="weather-table">
        <tr>
          <td v-for="(day, index) in daily" :key="index" class="weather-day pa-2"
            @click="select(day)"
            :class="`${dtToDate(day.dt) === value.start?'':'non-'}selected-day`"
          >
            {{weekdayNames[new Date(day.dt*1000).getDay()]}}
            <Temp :day="day"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Temp from '@/components/Temp'
import {weatherApi} from '@/common/api.js'

export default {
  components: {
    Temp,
  },
  data() {
    return {
      weather: null,
      weekdayNames: "Sun Mon Tue Wed Thu Fri Sat".split(' '),
      weatherIcons: {
        Clouds: "weather-cloudy",
        Rain: "weather-pouring",
        Clear: "weather-sunny",
      },
    }
  },
  props: {
    value: Object,
  },
  watch: {
    loc(val) {
      if (val && val.lat && val.lon) {
        this.getWeatherDataFor(val)
      }
    },
  },
  computed: {
    loc() { return this.value?.location },
    daily() {
      const todayStr = new Date().toISOString().substr(0, 10)
      const out = this.weather?.daily
        ?.filter(a => this.dtToDate(a.dt) > todayStr)
        .map(a => ({...a, ...a.weather[0]}))
      return out
    }
  },
  methods: {
    dtToDate(dt) {
      return new Date(dt*1000).toISOString().substr(0, 10)
    },
    select(day) {
      this.$emit('input', {...this.value, start:this.dtToDate(day.dt), weather:day})
    },
    weatherIconUrl(day) {
      return `${location.protocol}//openweathermap.org/img/wn/${day.icon}@2x.png`
    },
    async getWeatherDataFor(loc) {
      try {
        this.weather = await weatherApi(loc)
      } catch (error) {
        this.$toasted.show(`Error retrieving weather forecast data. (${error.toString()})`)
      }
    },
  },
}
</script>

<style lang="stylus" scoped>

.weather-container
  overflow-x auto

  &.any-selection
    .weather-day
      opacity 0.66
      transform scale(0.8)

      &.selected-day
        opacity 1
        transform scale(1)
        cursor unset

      &:hover.non-selected-day
        opacity 1
        transform scale(0.9)

.weather-table
  margin 0 auto

.weather-day
  transition 0.1s all
  max-width 100%
  min-width 85px
  text-align center
  cursor pointer

  &:hover
    opacity 0.9

</style>

<style lang="stylus">

.weather-table .weather-image-container
  display block

</style>
