<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-title class="app-title">
        Events
      </v-toolbar-title>

      <v-tabs>
        <v-tab to="/">
          Upcoming
        </v-tab>
        <v-tab to="/past">
          Past
        </v-tab>
        <v-tab to="/create" class="ml-12">
          Create
        </v-tab>
        <v-tab :to="`/event/${$route.params.id}`" v-show="!!$route.params.id" class="ml-12">
          Details
        </v-tab>
        <v-tab :to="`/edit/${$route.params.id}`" v-show="!!$route.params.id">
          Edit
        </v-tab>
      </v-tabs>

    </v-app-bar>

    <v-main>
      <v-container grid-list-md >
        <v-spacer class="my-10"></v-spacer>
        <loading v-if="loading"/>
        <router-view @create="addNewEvent" :events="events" />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import {readEvents, createEvent} from '@/common/api.js'

export default {
  name: 'App',

  components: {
  },

  async mounted () {
    this.loading = true
    try {
      this.events = await readEvents()
    } catch (error) {
      this.$toasted.show('Error loading events. Is the server running? (`$ npm run api`)')
    }
    this.loading = false
  },
  data: () => ({
    loading: false,
    events: null,
    selection: null,
  }),
  methods: {
    async addNewEvent(newEvent) {
      try {
        const persistedEv = await createEvent({...newEvent})
        this.events.push(persistedEv)
        this.$toasted.show(`Created event "${persistedEv.title}".`, {action: [
          {text:'Open', href:`#/event/${persistedEv.id}`},
          {text:'Dismiss', onClick : (e, toastObject) => {
            toastObject.goAway(0)
          },
        }]})
      } catch (error) {
        this.$toasted.show(`Error creating event. Please try again later. (${error.toString()})`)
      }
    }
  },
}
</script>

<style scoped lang="stylus">

.app-title
  min-width 100px
.loading-card
  display inline-block

</style>

<style lang="stylus">

.toasted
  font-family Arial

</style>
